extends layout

block content
    .container.main-content
        article.message.is-danger
            h1.title.has-text-danger= error.satus
            h2.subtitle.has-text-danger= error.status
            if error.stact
                pre.content.is-small #{error.stack}